.menu {
	position: fixed;
	top: 0px;
	font-family: 'Open Sans','Helvetica Neue',Helvetica, sans-serif;
	border-bottom: 1px solid #bab9b5;
	width: 100%;
	margin-left: -10px;
	margin-top: 0px;
	margin-bottom: 20px;
	background-color: white;
	display: inline-block;
	text-align: right;
}

.mmenu {
	text-align: left;
	margin-left: 15px;	
	color: #595959;
	-webkit-display: inline-block;
	float: left;
}


.menulink {
	color: black;
	text-decoration: none;
	text-align: right;
	margin: 20px 20px 10px 0;
	display: inline-block;
	-webkit-float: right;
}


.intro {
	margin: 63px 15px 10px 15px;
	font-family: 'Open Sans','Helvetica Neue',Helvetica, sans-serif;
	position: relative;
	text-align: center;
	background-color: #d9d7d7;
	padding: 20px;
	width: 100%;
	margin-left: -10px;
	position: block;
	animation-name: fadeup;
	animation-duration: 1.3s;
}

#tag {
	font-weight: 700;
	font-size: 25px;
}

.tani {
	font-weight: 900;
	font-size: 30px;
	margin-top: -25px;
	animation-name: intro;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes intro {
	0% {color: #eb4034;}
	20% {color: #eb6e34;}
	40% {color: #ebba34;}
	60% {color: #b5cf57;}
	80% {color: #34ebcd;}
	100% {color: #eb6e34;}
}

@keyframes fadeup {
	0% {transform: translate(0, 100%);}
	100% {transform: translate(0, 100%;)}
}